<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/cv/DawsonCV.pdf" title="CV" target=_blank>CV</a></li>
		<li class="{{ page.publications }}"><a href="/publications" title="Publications">Publications</a></li>
		<li class="{{ page.ecosystems }}"><a href="/ecosystems" title="Ecosystems">Ecosystems</a></li>
		<li class="{{ page.caiso }}"><a href="/caiso" title="CAISO">CAISO LMP</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Benjamin Dawson</a></h3>
</div> <!-- /header -->
